
<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-4">
    <section class="user_info">
      <%= avatar_user(@user, 80) %>
      <%= @user.name %>
    </section>
  </div>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3><%=@user.microposts.count %> bai dang</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>